/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.blok {
    padding: 20px;
}

.horni {
    background-color: #f1c40f;
    flex: 100%;
}

.prvni {
    background-color: #2ecc71;
}

.druhy {
    background-color: #e74c3c;
}

.treti {
    background-color: #8e44ad;
}

/* ---------------------------------------------------- */

.kontejner {
    display: flex;
    flex-wrap: wrap;
}

.dolni {
    display: flex;
}

.prvni,
.druhy,
.treti {
    flex: calc(1/3);
}
